<div class="col-md-3" style="margin-top: 37px">
	<hr>
    <form>
		<div class="form-group">
	        <select name="mark_id"
                    options="state.marks"
                    ng-change="state.filter(state.form.mark_id)"
                    ng-options="mark.id as mark.name for mark in state.marks"
                    ng-model="state.form.mark_id"
                    class="form-control">
	        	<option value="">Marca</option>
	        </select>
	    </div>

		<div class="form-group">
	        <select
                    multiple
                    chosen
                    data-placeholder="Modelos"
                    name="model_id[]"
                	ng-disabled="!state.form.mark_id"
                    options="state.models"
                    max-selection="3"
                    ng-options="model.id as model.name for model in state.models"
                    ng-model="state.form.model_id"
                	class="form-control chosen-select-filters">
	        </select>
	    </div>

		<div class="form-group">
            <select name="method" ng-model="state.form.method" class="form-control">
            	<option value="">Método</option>
                <option value="IKS">IKS</option>
                <option value="SKS">SKS</option>
                <option value="SKS/IKS">SKS/IKS</option>
                <option value="SOLO IKS PRIVADO">SOLO IKS PRIVADO</option>
                <option value="IPTV">IPTV</option>
            </select>
		</div>

		<div class="form-group">
            <select name="state" ng-model="state.form.state" class="form-control">
            	<option value="">Estado</option>
                <option value="ON">ON</option>
                <option value="FREEZ">FREEZ</option>
                <option value="OFF">OFF</option>
            </select>
        </div>

		<button type="button" ng-click="state.formFilter()" class="btn btn-primary btn-sm">
			<i class="fa fa-hand-pointer-o" aria-hidden="true"></i> Filtrar
		</button>
		<button type="button" ng-click="state.clean()" ng-disabled="
            !state.form.mark_id
            && !state.form.model_id
            && !state.form.state
            && !state.form.method"
            class="btn btn-default btn-sm">
			<i class="fa fa-eraser" aria-hidden="true"></i> Limpiar
		</button>
    </form>
    <hr>
</div>