<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="app.index">BuscarTP</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown" ui-sref-active="{'active': 'app.transponders.**'}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-list" aria-hidden="true"></i> Listado de TPs
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active">
                            <a ui-sref="app.transponders({ satelite: '61w-amazonas' })">Amazonas</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.transponders({ satelite: '70w-star-one' })">Star One C2</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.transponders({ satelite: '81w-arsat-2' })">Arsat 2</a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.states">Estados decodificador</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.create">Ingresar estado</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.notificions">Notificaciones</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav" ng-show="!auth">
                    <li ui-sref-active="active">
                        <a ui-sref="app.login">Iniciar sesión</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.register">Crear cuenta</a>
                    </li>
                </ul>
                <li ng-show="auth" class="dropdown" open-dropdown>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Hola {{ user.name }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active">
                            <a ui-sref="app.edit">Editar cuenta</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.history">Actividad cuenta</a>
                        </li>
                        <li>
                            <a ng-click="main.logout()" style="cursor: pointer;">Salir</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <ui-view></ui-view>
</div>