<div class="row">
	<div class="col-md-12">
        <h4 ng-if="comment.state" class="animated fadeIn">
            {{ comment.state.type.mark.name }}
            {{ comment.state.type.name }} |
            <span ng-class="{ 'off': comment.state.state === 'OFF',
                    'freez': comment.state.state === 'FREEZ',
                    'on': comment.state.state === 'ON' }">
            {{ comment.state.state }}</span> |
            {{ comment.state.method }}
            <small>Creado el {{ comment.state.human_at }}</small>
        </h4>
        <h4 ng-if="!comment.state" class="saving">
          Cargando<span>.</span><span>.</span><span>.</span>
        </h4>

        <div class="well">
        	<h4>Comentar estado</h4>
            <form role="form" name="formComment" ng-submit="comment.comment()">
                <div class="form-group" bootstrap-validation-decorator>
                    <textarea class="form-control" name="body" validation="required|min_len:5" ng-model="comment.form.body" style="resize:none" rows="3"></textarea>
                </div>
                <button type="submit" ng-disabled="formComment.$invalid || waiting" class="btn btn-danger">
                    Comentar</button>
                <button ng-if="auth" ng-disabled="comment.exists || waiting" type="button" ng-click="comment.suscribe()" class="btn btn-success">
                    {{ comment.exists ? 'Te has suscrito' : 'Suscribirme' }}
                </button>
                <a ng-if="!auth" ui-sref="app.login" class="btn btn-success">Suscribirme</a>
                <i style="cursor: pointer;" class="fa fa-question-circle" data-toggle="popover" title="¿Que es esto?" data-placement="top" data-content="Si tienes una cuenta de usuario, inicia sesión y presiona el botón &ldquo;suscribirme&rdquo; y cada vez que se realice un comentario en este estado, se te notificará con un email al correo con el que te registraste." aria-hidden="true"></i>
            </form>
        </div>

        <div class="panel panel-default animated fadeIn item-shadow" ng-repeat="comment in comment.comments">
        	<div class="panel-heading">
        		<h3 class="panel-title">
        			<small>
        				<i class="fa fa-clock-o"></i>
	        			{{ comment.created_human_at }}
        			</small>
        		</h3>
        	</div>
        	<div class="panel-body" style="word-wrap: break-word" ng-bind-html="comment.body">
        		{{ comment.body }}
        	</div>
        </div>
	</div>
</div>