<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
		<h3 class="text-center">
			<i class="fa fa-pencil-square-o"></i> Edita tu cuenta
		</h3>
        <form name="formEdit" ng-submit="edit.edit()" class="well">
			<div class="form-group">
			    <label class="control-label sr-only" for="country_id">Pais</label>
			    <select name="country_id" class="form-control"
	                options="edit.countries"
	                ng-options="country.id as country.name for country in edit.countries"
	                ng-model="edit.form.country_id"
	                ng-selected="edit.country">
			    </select>
			</div>
			<div class="form-group" bootstrap-validation-decorator>
				<label for="email" class="control-label sr-only">Nombre o usuario</label>
				<input
				type="text"
				autofocus
				name="name"
				ng-model="edit.form.name"
				id="name"
				placeholder="Nombre o usuario"
				validation="required|max_len:15|min_len:3"
				class="form-control">
			</div>
			<div class="form-group" bootstrap-validation-decorator>
				<label for="email" class="control-label sr-only">Correo</label>
				<input
				type="email"
				name="email"
				ng-model="edit.form.email"
				id="email"
				placeholder="Correo"
				validation="required|email"
				class="form-control">
			</div>
			<div class="form-group" bootstrap-validation-decorator>
				<label for="password" class="control-label sr-only">Contraseña</label>
				<input
					type="{{ edit.input }}"
					name="password"
					autocomplete="off"
					id="password"
					ng-model="edit.form.password"
					placeholder="Contraseña"
					validation="min:6"
					class="form-control">
			</div>
		  	<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="checkbox" ng-click="edit.hideShowPassword()">Ver contraseña
				</label>
			</div>
            <button type="submit" ng-disabled="formedit.$invalid || waiting" class="btn btn-default btn-block">
            	Editar cuenta
            </button>
        </form>
    </div>
</div>