<div class="row">
	<div ng-include="'app/templates/partials/filters.html'"></div>

	<div class="col-md-9">
		<h4><i class="fa fa-play"></i> Informa el estado de tu decodificador
			<a class="btn btn-primary" data-toggle="modal" href='#form-modal'>Trigger modal</a>
		</h4>
		<div class="alert alert-info" ng-if="state.show">
			¡No hay resultados para los filtros seleccionados!
		</div>
		<div infinite-scroll="state.nextPage()"
			 infinite-scroll-disabled="state.pause"
			 infinite-scroll-distance="1">

			<div class="panel-group item-shadow" ng-repeat="state in state.states">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="pull-right" ng-repeat="satelite in state.satelites">
			             	<span class="label label-primary" style="margin-left: 3px" title="satelite.name">
			             		{{ satelite.name }}
			             	</span>
						</div>
						<h4 class="panel-title">
							{{ state.type.mark.name }} {{ state.type.name }}
							<small title="{{ state.created_human }}">
								&middot; {{ state.human_at }}
							</small>
						</h4>
					</div>
					<div class="panel-body">
						<strong ng-if="state.country_id">
							{{ state.country.name }}
						</strong>

						<span ng-if="state.user_id">
							<strong>
								{{  state.user.country.name }}
							</strong>
							&middot;
							<a href="/{{ state.user.username }}" class="btn btn-default btn-xs">
								{{ state.user.username }}
							</a>
						</span>

						 &middot; {{ state.method }} &middot;
						<strong ng-class="{ 'off': state.state === 'OFF',
											'freez': state.state === 'FREEZ',
											'on': state.state === 'ON' }">
							{{ state.state }}
						</strong>
						&middot;
						{{ state.update }}
						<span class="pull-right">
							<a ng-if="state.comment" data-toggle="collapse" class="btn btn-success btn-xs btn-collapse" data-parent="#accordion" data-target="#collapse-{{ state.id }}"></a>
							<a href="/states/{{ state.id }}/comments" class="btn btn-default btn-xs">
								Comentar <small ng-if="state.comments_count">({{ state.comments_count }})</small>
							</a>
						</span>
					</div>
					<div id="collapse-{{ state.id }}" class="panel-collapse collapse">
						<div class="panel-footer">{{ state.comment }}</div>
					</div>
				</div>
			</div>
			<div ng-show="state.loader" class="text-center">
				<h3>
					<i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
				</h3>
			</div>
		</div>
	</div>

	<div class="modal fade" id="form-modal" tabindex='-1'>
		<form ng-submit="state.send()" name="formState" role="form">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title">Estado decodificador</h4>
	            </div>
	            <div class="modal-body">
	            	<div class="row">
	            		<div class="col-md-6">
				            <div class="form-group" bootstrap-validation-decorator>
				                <label class="control-label" for="mark_id">Marca</label>
				                <select name="mark_id" class="form-control input-sm"
			                            ng-change="state.filter(state.form.mark_id)"
			                            options="state.marks"
										ng-options="mark.id as mark.name for mark in state.marks"
			                            ng-model="state.form.mark_id"
			                            validation="required">
				                    <option value="">Seleccionar marca</option>
				                </select>
				            </div>
				            <div class="form-group" bootstrap-validation-decorator>
				                <label class="control-label" for="model_id">Modelo</label>
				                <select
				                    name="model_id"
				                    placeholder="Esperando marca"
				                    ng-disabled="!state.form.mark_id"
				                    options="state.models"
				                    ng-options="model.id as model.name for model in state.models"
				                    ng-model="state.form.model_id"
				                    class="form-control input-sm"
				                    validation="required">
				                </select>
				            </div>
				            <div class="form-group">
				                <label class="control-label" for="method">Método</label>
				                <select name="method" ng-model="state.form.method" ng-init="state.form.method = 'IKS'" class="form-control input-sm">
				                    <option value="IKS">IKS</option>
				                    <option value="SKS">SKS</option>
				                    <option value="SKS/IKS">SKS/IKS</option>
				                    <option value="SOLO IKS PRIVADO">SOLO IKS PRIVADO</option>
				                    <option value="IPTV">IPTV</option>
				                </select>
				            </div>
				            <div class="form-group">
				                <label class="control-label" for="state">Estado</label>
				                <select name="state" ng-model="state.form.state" ng-init="state.form.state = 'ON'" class="form-control input-sm">
				                    <option value="ON">ON</option>
				                    <option value="FREEZ">FREEZ</option>
				                    <option value="OFF">OFF</option>
				                </select>
				            </div>
				            <div class="form-group" bootstrap-validation-decorator>
				                <label class="control-label" for="update">Actualización</label>
				                <input
				                    ng-model="state.form.update"
				                    name="update"
				                    type="text"
				                    class="form-control input-sm"
				                    validation="max_len:10|required">
				            </div>
	            		</div>
	            		<div class="col-md-6">
				            <div class="form-group">
				                <label class="control-label" for="satelite_id">Satélites</label>
				                <select chosen max-selection="3" name="satelite_id[]"
				                    no-results="No se encontraton satélites"
				                    ng-model="state.form.satelite_id"
				                    data-placeholder="Seleccionar satélites"
				                    options="state.satelites"
				                    ng-options="model.id as model.name for model in state.satelites"
				                    multiple
				                    class="form-control">
				                </select>
				                <span class="help-block">
				                    Campo opcional | Máximo 3 satélites
				                </span>
				            </div>
			                <div class="form-group">
			                    <label class="control-label" for="country_id">Pais</label>
			                    <select name="country_id" class="form-control input-sm"
			                                options="state.countries"
			                                ng-options="country.id as country.name for country in state.countries"
			                                ng-model="state.form.country_id"
			                                ng-selected="state.country">
			                    </select>
			                    <span class="help-block">
			                        País detectado automáticamente, si no es correcto seleccionalo en la lista
			                    </span>
			                </div>
				            <div class="form-group" bootstrap-validation-decorator>
				                <label class="control-label" for="comment">Comentario</label>
				                <textarea
				                    name="comment"
				                    id="comment"
				                    ng-model="state.form.comment"
				                    rows="5"
				                    class="form-control input-sm"
				                    validation="min_len:5|max_len:150">
				                </textarea>
				                <span class="help-block">
				                    Campo opcional | Mínimo 5 - Máximo 150 carácteres
				                </span>
				            </div>
	            		</div>
	            	</div>
	            </div>
	            <div class="modal-footer">
	                <button type="button" ng-click="state.clearForm()" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	                <button type="submit" class="btn btn-primary"
			                ng-disabled="formState.$invalid"
			                ng-submit="stateCtrl.submit()"
	                 id="btn-modal">Guardar estado</button>
	            </div>
	        </div>
	    </div>
		</form>
	</div>

</div>