<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    	<h3 class="text-center">Iniciar sesión</h3>
        <form name="formLogin" ng-submit="login.login()" class="well">
			<div class="form-group" bootstrap-validation-decorator>
				<label for="email" class="sr-only" class="control-label">Email</label>
				<input
				type="email"
				autofocus
				name="email"
				ng-model="login.credentials.email"
				id="email"
				placeholder="Correo eléctronico"
				validation="required|email"
				class="form-control">
			</div>
			<div class="form-group" bootstrap-validation-decorator>
				<label for="password" class="sr-only" class="control-label">Password</label>
				<input
					type="password"
					name="password"
					id="password"
					ng-model="login.credentials.password"
					placeholder="Contraseña"
					validation="required|min_len:6"
					class="form-control">
			</div>
            <button type="submit" ng-disabled="formLogin.$invalid || waiting" class="btn btn-default btn-block">
            	<i class="fa fa-sign-in"></i> Entrar
            </button>
            <p class="text-center" style="margin-top: 20px">
            	¿No tienes cuenta? <a ui-sref="app.register">Crea una</a>
            </p>
        </form>

    </div>
</div>