<form class="form-inline" role="form" novalidate>
    <div class="form-group has-feedback has-clear">
        <input type="text"
                class="form-control input-sm"
                minlength="2"
                ng-model="home.input"
                placeholder="Buscar canal">

        <a class="glyphicon glyphicon-remove-sign form-control-feedback form-control-clear clear-link"
        ng-click="home.clearInput()" style="pointer-events: auto; text-decoration: none; cursor: pointer;"></a>

    </div>
    <div class="form-group">
        <select class="form-control input-sm"
                ng-change="home.search(home.transponder, home.satelite)"
                ng-model="home.satelite"
                ng-options="satelite.id as satelite.name for satelite in home.satelites"
                ng-selected="satelite">
        </select>
    </div>
    <div class="form-group">
        <select
                chosen
                style="width: 250px"
                class="form-control input-sm chosen-tp-filter"
                data-placeholder="Buscar y filtrar por TPs"
                ng-change="home.search(home.transponder, home.satelite)"
                options="home.transponders"
                ng-model="home.transponder"
                ng-options="transponder.id as transponder.name | conax for transponder in home.transponders">
            <option value="">Buscar y filtrar por TP</option>
        </select>
    </div>
    <button
        type="button"
        ng-click="home.clearTp()"
        ng-disabled="!home.transponder && !home.input"
        class="btn btn-default btn-sm">
    	Limpiar campos
    </button>
</form>

<hr>

<div class="row">
    <div ng-repeat="channel in filters = (home.channels | filter: home.input)" ng-show="filters.length">
        <div ng-if="$index % 4 == 0" class="clearfix"></div>
        <div class="col-md-3 col-padding well tps" ng-show="filters.length">
            <h1 class="h1-class">
                {{ channel.name | conax }}
                <small ng-show="!filters.length">
                    ({{ channel.tp.length }})
                </small>
                <small ng-show="filters.length">
                    ({{ filters.length }})
                </small>
            </h1>
            <ul>
                <li ng-repeat="detail in filters = (channel.channels | filter: home.input)">
                    {{ detail.name }} {{ detail.pivot.fta ? '&middot;' : '' }}
                    <small style="color: blue"> {{ detail.pivot.fta ? 'FTA' : '' }} </small>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-if="!filters.length && home.input" style="margin-top: 20px">
    <div class="alert alert-info">
        <strong>¡No hay resultados!</strong>
    </div>
</div>

<loading check="home.loader"></loading>