<div class="row">
	<div class="col-md-12">
		<h3 style="margin-bottom: 25px">Notificaciones vía email</h3>

		<dl style="font-size: 16px" class="text-justify">Te invito a usar este sistema de notificaciones vía correo electrónico para recibir en tu correo las notificaciones de los modelos que te interesan.
		<br>
		Por ejemplo: selecciona el modelo <code>MIUIBOX GT</code> para que cada vez que se suba un estado de ese decodificador, seas notificado con un email a <code ng-if="auth">{{ user.email }}</code><code ng-if="!auth">tu correo</code>, así podrás saber el estado de tu equipo constantemente. Si tienes varios decodificadores no te preocupes, porque puedes seleccionar todos los modelos que quieras.
		<br>
		Igualmente sí comentas un <code>Estado de decodificador</code> o te suscribes a un estado presionando el botón &ldquo;suscribirme&rdquo; teniendo tu sesión de usuario iniciada, cuando se ingresen nuevos comentarios EN ESE ESTADO serás notificado con un email.</dl>

		<div class="well" ng-if=!auth>
			Para poder seleccionar los modelos que te interesan por favor <a ui-sref="app.login">Inicia sesión</a> o <a ui-sref="app.register">Crea una cuenta</a>.
		</div>

	    <form class="form" ng-submit="notification.notifyModels()" ng-if="auth">
			<div class="form-group">
				<label for="type_id">Modelos que te interesan</label>
		        <select style="margin-bottom: 100px"
		        		multiple
		        		chosen
	                    data-placeholder="Modelos"
	                    name="type_id[]"
	                    options="notification.models"
	                    ng-options="model.id as model.name for model in notification.models"
	                    ng-model="notification.form.type_id"
	                	class="form-control chosen-select-filters">
		        </select>
		    </div>
			<button type="submit" ng-disabled="!notification.form.type_id.length || waiting" ng-click="state.formFilter()" class="btn btn-primary btn-sm">
				Guardar
			</button>
	    </form>
	</div>
</div>