<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
		<h3 class="text-center">Crea una cuenta</h3>
        <form name="formRegister" ng-submit="register.register()" class="well">
			<div class="form-group">
			    <label class="control-label sr-only" for="country_id">Pais</label>
			    <select name="country_id" class="form-control"
			                options="register.countries"
			                ng-options="country.id as country.name for country in register.countries"
			                ng-model="register.form.country_id"
			                ng-selected="register.country">
			    </select>
			    <p style="font-size: 13px" class="help-block">
			        País detectado automáticamente, si no es correcto seleccionalo en la lista
			    </p>
			</div>
			<div class="form-group" bootstrap-validation-decorator>
				<label for="email" class="control-label sr-only">Nombre o usuario</label>
				<input
				type="text"
				autofocus
				name="name"
				ng-model="register.form.name"
				id="name"
				placeholder="Nombre o usuario"
				validation="required|max_len:15|min_len:3"
				class="form-control">
			</div>
			<div class="form-group" bootstrap-validation-decorator>
				<label for="email" class="control-label sr-only">Correo</label>
				<input
				type="email"
				name="email"
				ng-model="register.form.email"
				id="email"
				placeholder="Correo"
				validation="required|email"
				class="form-control">
			</div>
			<div class="form-group" bootstrap-validation-decorator>
				<label for="password" class="control-label sr-only">Contraseña</label>
				<input
					type="{{ register.input }}"
					name="password"
					id="password"
					ng-model="register.form.password"
					placeholder="Contraseña"
					validation="required|min:6"
					class="form-control">
			</div>
		  	<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="checkbox" ng-click="register.hideShowPassword()">Ver contraseña
				</label>
			</div>
            <button type="submit"
            		ng-disabled="formRegister.$invalid || waiting"
            		class="btn btn-default btn-block">
            	<i class="fa fa-sign-in"></i> Entrar
            </button>
            <p class="text-center" style="margin-top: 20px">
            	¿Tienes cuenta? <a ui-sref="app.login">Inicia sesión</a>
            </p>
        </form>
    </div>
</div>