<div class="row">
    <div class="col-md-12">
    	<div class="page-header">
    	  <h3>Ingresar nuevo estado</h3>
    	</div>
    </div>

	<form ng-submit="stateCreate.send()" name="formState" role="form">
        <div class="col-md-6">
            <div class="form-group" bootstrap-validation-decorator>
                <label class="control-label" for="mark_id">Marca</label>
                <select name="mark_id" class="form-control input-sm"
                            ng-change="stateCreate.filter(stateCreate.form.mark_id)"
                            options="stateCreate.marks"
                            ng-options="mark.id as mark.name for mark in stateCreate.marks"
                            ng-model="stateCreate.form.mark_id"
                            validation="required">
                    <option value="">Seleccionar marca</option>
                </select>
            </div>
            <div class="form-group" bootstrap-validation-decorator>
                <label class="control-label" for="model_id">Modelo</label>
                <select
                    name="model_id"
                    placeholder="Esperando marca"
                    ng-disabled="!stateCreate.form.mark_id"
                    options="stateCreate.models"
                    ng-options="model.id as model.name for model in stateCreate.models"
                    ng-model="stateCreate.form.model_id"
                    class="form-control input-sm"
                    validation="required">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="method">Método</label>
                <select name="method" ng-model="stateCreate.form.method" ng-init="stateCreate.form.method = 'IKS'" class="form-control input-sm">
                    <option value="IKS">IKS</option>
                    <option value="SKS">SKS</option>
                    <option value="SKS/IKS">SKS/IKS</option>
                    <option value="SOLO IKS PRIVADO">SOLO IKS PRIVADO</option>
                    <option value="IPTV">IPTV</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="state">Estado</label>
                <select name="state" ng-model="stateCreate.form.state" ng-init="stateCreate.form.state = 'ON'" class="form-control input-sm">
                    <option value="ON">ON</option>
                    <option value="FREEZ">FREEZ</option>
                    <option value="OFF">OFF</option>
                </select>
            </div>
            <div class="form-group" bootstrap-validation-decorator>
                <label class="control-label" for="update">Actualización</label>
                <input
                    ng-model="stateCreate.form.update"
                    name="update"
                    type="text"
                    class="form-control input-sm"
                    validation="max_len:15|required">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="satelite_id">Satélites</label>
                <select chosen max-selection="3" name="satelite_id[]"
                    no-results="No se encontraton satélites"
                    ng-model="stateCreate.form.satelite_id"
                    data-placeholder="Seleccionar satélites"
                    options="stateCreate.satelites"
                    ng-options="model.id as model.name for model in stateCreate.satelites"
                    multiple
                    class="form-control chosen-select-filters">
                </select>
                <p style="font-size: 13px" class="help-block">
                    Campo opcional | Máximo 3 satélites
                </p>
            </div>
            <div class="form-group">
                <label class="control-label" for="country_id">Pais</label>
                <select name="country_id" class="form-control input-sm"
                            options="stateCreate.countries"
                            ng-options="country.id as country.name for country in stateCreate.countries"
                            ng-model="stateCreate.form.country_id"
                            ng-selected="stateCreate.country"
                            ng-disabled="auth">
                </select>
                <p style="font-size: 13px" class="help-block" ng-if="auth">
                    Se detectó el país con el que te registraste
                </p>
                <p style="font-size: 13px" class="help-block" ng-if="!auth">
                    País detectado automáticamente, si no es correcto seleccionalo en la lista
                </p>
            </div>
            <div class="form-group" bootstrap-validation-decorator>
                <label class="control-label" for="comment">Comentario</label>
                <textarea
                    rows=3
                    name="comment"
                    id="comment"
                    ng-model="stateCreate.form.comment"
                    rows="5"
                    class="form-control input-sm"
                    validation="min_len:5">
                </textarea>
                <p style="font-size: 13px" class="help-block">
                    Campo opcional | Mínimo 5 carácteres
                </p>
            </div>
            <button
                type="submit"
                ng-disabled="formState.$invalid || waiting"
                ng-submit="stateCtrl.submit()"
                class="btn btn-primary">
                Enviar estado
            </button>
        </div>
	</form>
</div>