<div class="row">
	<div ng-include="'app/templates/partials/filters.html'"></div>

	<div class="col-md-9">
		<h4>
			Estados decodificador
			<small ng-if="state.total">
				({{ state.total }} resultados)
			</small>
		</h4>
		<div class="alert alert-info" ng-if="state.show" style="margin-top: 25px">
			¡No hay resultados para los filtros seleccionados!
		</div>
		<div infinite-scroll="state.nextPage()"
			 infinite-scroll-disabled="state.pause"
			 infinite-scroll-distance="1"
			 style="margin-top: 25px">

			<div class="panel-group item-shadow" ng-repeat="state in state.states">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="pull-right" ng-repeat="satelite in state.satelites">
			             	<span class="label label-primary" style="margin-left: 3px" title="satelite.name">
			             		{{ satelite.name }}
			             	</span>
						</div>
						<h4 class="panel-title">
							{{ state.type.mark.name }} {{ state.type.name }}
							<small title="{{ state.human_at }}">
								&middot; {{ state.created_human }}
							</small>
						</h4>
					</div>
					<div class="panel-body">
						<strong ng-if="state.country_id">
							{{ state.country.name }}
						</strong>

						<span ng-if="state.user_id">
							<strong>
								{{  state.user.country.name }}
							</strong>
							&middot;
							<a style="cursor: pointer;" class="btn btn-default btn-xs">
								{{ state.user.name }}
							</a>
						</span>

						 &middot; {{ state.method }} &middot;
						<strong ng-class="{ 'off': state.state === 'OFF',
											'freez': state.state === 'FREEZ',
											'on': state.state === 'ON' }">
							{{ state.state }}
						</strong>
						&middot;
						{{ state.update }}
						<span class="pull-right">
							<a ng-if="state.comment" data-toggle="collapse" class="btn btn-success btn-xs btn-collapse" data-parent="#accordion" data-target="#collapse-{{ state.id }}"></a>
							<a href="/states/{{ state.id }}/comments" class="btn btn-default btn-xs">
								Comentar <small ng-if="state.comments_count">({{ state.comments_count }})</small>
							</a>
						</span>
					</div>
					<div id="collapse-{{ state.id }}" class="panel-collapse collapse">
						<div class="panel-footer" style="word-wrap: break-word" ng-bind-html="state.comment">
							{{ state.comment }}
						</div>
					</div>
				</div>
			</div>
			<loading check="state.loader"></loading>
		</div>
	</div>
</div>