<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default panel-flush">
        <div class="panel-heading">
            Actividad cuenta
        </div>

        <div class="panel-body">
            <div class="spark-settings-tabs">
                <ul class="nav spark-settings-stacked-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#states" aria-controls="states" role="tab" data-toggle="tab">
                           Estados
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#subscriptions" aria-controls="subscriptions" role="tab" data-toggle="tab">
                            Suscripciones
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">
                            Comentarios
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>

    <div class="col-md-9">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="states">
                <div class="panel panel-default">
                    <div class="panel-heading">Estados subidos</div>
                    <div class="panel-body">
                        <div class="alert alert-info" ng-if="!suscription.states.length">
                          <strong>No has subido ningún estado!</strong>
                        </div>
                        <div class="table-responsive" ng-if="suscription.states.length">
                          <table class="table table-condensed table-bordered text-center table-hover">
                            <thead>
                              <tr>
                                <th>Modelo</th>
                                <th>Estado</th>
                                <th>Método</th>
                                <th>Creado</th>
                                <th>Ver</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="detail in suscription.states">
                                <td width="20%">
                                  {{ detail.type.mark.name }} {{ detail.type.name }}
                                </td>
                                <td ng-class="{ 'off': detail.state === 'OFF',
                                'freez': detail.state === 'FREEZ',
                                'on': detail.state === 'ON' }">
                                  <strong>
                                    {{ detail.state }}
                                  </strong>
                                </td>
                                <td>
                                  {{ detail.method }}
                                </td>
                                <td>
                                  {{ detail.human_at }}
                                </td>
                                <td>
                                  <a class="btn btn-info btn-xs" href="/states/{{ detail.id }}/comments">
                                    Ver estado
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="subscriptions">
                <div class="panel panel-default">
                    <div class="panel-heading">Estados suscritos</div>
                    <div class="panel-body">
                      <div class="alert alert-info" ng-if="!suscription.suscriptions.length">
                        <strong>No te has suscrito a ningún estado!</strong>
                      </div>
                      <div class="table-responsive" ng-if="suscription.suscriptions.length">
                        <table class="table table-condensed table-bordered text-center table-hover">
                          <thead>
                            <tr>
                              <th>Modelo</th>
                              <th>Estado</th>
                              <th>Método</th>
                              <th>Creado</th>
                              <th>Suscrito</th>
                              <th>Eliminar</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="detail in suscription.suscriptions" class="animated"
                            ng-class="{ 'fadeOut' : suscription.index === detail.id }">
                              <td width="20%">
                                {{ detail.state.type.mark.name }} {{ detail.state.type.name }}
                              </td>
                              <td ng-class="{ 'off': detail.state.state === 'OFF',
                              'freez': detail.state.state === 'FREEZ',
                              'on': detail.state.state === 'ON' }">
                                <strong>{{ detail.state.state }}</strong>
                              </td>
                              <td>
                                {{ detail.state.method }}
                              </td>
                              <td>
                                {{ detail.state.human_at }}
                              </td>
                              <td>
                                {{ detail.created_human }}
                              </td>
                              <td>
                                <a class="btn btn-info btn-xs" href="/states/{{ detail.state.id }}/comments">Ver estado</a>
                                <button data-toggle="modal" href='#modal-delete'
                                  ng-click="suscription.modal($index, detail.id)"
                                  type="button"
                                  class="btn btn-danger btn-xs">
                                  Eliminar
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="comments">
                <div class="panel panel-default">
                    <div class="panel-heading">Comentarios</div>
                    <div class="panel-body">
                        <div class="alert alert-info" ng-if="!suscription.comments.length">
                          <strong>No has comentado ningún estado!</strong>
                        </div>
                        <div class="table-responsive" ng-if="suscription.comments.length">
                          <table class="table table-condensed table-bordered text-center table-hover">
                          <thead>
                            <tr>
                              <th>Modelo</th>
                              <th>Comentado</th>
                              <th>Comentario</th>
                            </tr>
                          </thead>
                            <tbody>
                              <tr ng-repeat="detail in suscription.comments">
                                <td width="20%">
                                  {{ detail.state.type.mark.name }} {{ detail.state.type.name }}
                                </td>
                                <td>
                                  {{ detail.human_at }}
                                </td>
                                <td>
                                  <strong>
                                    &ldquo;{{ detail.body }}&rdquo;
                                  </strong>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-delete">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <h4>¿Eliminar suscripción?</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" ng-disabled="waiting" ng-click="suscription.delete()" class="btn btn-primary">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
</div>