<div class="row">
	<div class="col-md-12">
		<div class="page-header text-center">
		  	<h1 class="animated fadeIn">
		  		Listado de TPs
		  		<span class="text-capitalize">{{ tp.satelite }}</span>
		  		<small ng-show="tp.count">({{ tp.count }})</small>
		  	</h1>
		</div>

		<div class="well" ng-if="tp.transponders.length">
			<div class="row text-center animated zoomInRight" ng-repeat="detail in tp.transponders" style="margin-bottom: 5px">
				<div class="col-md-4" ng-repeat="tp in detail">
					» <strong>{{ tp.name }}</strong>
				</div>
			</div>
		</div>

		<loading check="tp.loader"></loading>
	</div>
</div>